# Node.js
# Ignore all node_modules folders
node_modules/

# Python
# Ignore the virtual environment folder
ml_env/

# Ignore Python cache files
__pycache__/

# Ignore the trained model files, as it can be recreated by running train_model.py and train_rain_model
weather_model.pkl
rain_model.pkl

# OS-specific files
.DS_Store
Thumbs.db
